<ul class="menu">
{% for madeye in site.data.menu %}
    {% if madeye.subcategories != null %}
    <li><a href="{{ madeye.href }}" class="page-link">{{ madeye.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in madeye.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ madeye.href }}" class="page-link">{{ madeye.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
